.the-biggest {
  position: relative;
  width: 100%;
}
.flyrectangle {
  height: 202px;
  width: 183px;
  left: 380px;
  top: 175px;
  border-radius: [object Object]px;
  position: absolute;
}
.flytext {
  height: 103px;
  width: 134px;
  left: 400px;
  top: 193px;
  border-radius: nullpx;
  position: absolute;
}
.flytext > p {
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
body {
  margin: 0;
}
/*
@media (min-width: 768px) {
  .the-biggest {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .the-biggest {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .the-biggest {
    width: 1170px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}*/

/*start desktop-head style proparitos */

.desktop .container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(/images/desktopbackground.png);
  background-repeat: inherit;

  /* position: relative; */
}

.desktop-header {
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 385px;
}

.menuelements {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.menuelements > div {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.logo > img {
  width: 187px;
  height: 187px;
}

.searchlogo > img {
  width: 16px;
  height: 16px;
}
/*end head style proparitos */
/*start desktop style proparitos */
.desktop-body {
  margin-top: 76px;
  margin-left: 170px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 940px;

  /* background-color: orange; */
  justify-content: center;
  align-items: center;
}
.hori1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* align-self: start; */
  /* background-color: pink; */
  gap: 92px;
}
.bigtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
  height: 185px;
}

.bigpic > img {
  height: 490px;
  width: 372px;
}
.text1 > p {
  font-family: Inter;
  font-size: 70px;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;

  width: 619px;
  left: 636px;
  top: 317px;
  border-radius: nullpx;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  width: 230px;
  height: 65px;
}
.text2-1 > p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 24px;
  width: 108px;
  left: 641px;
  top: 579px;
  border-radius: nullpx;
  color: #9e9a9a;
  margin-bottom: 0px;
}

.text2-2 > p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 24px;
  width: 215px;
  left: 641px;
  top: 607px;
  border-radius: nullpx;
  color: #9e9a9a;
  margin-top: 0px;
}

.text2 > input {
  height: 65px;
  width: 230px;
  left: 641px;
  top: 645px;
  border-radius: 5px;
  background: #444444;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: white;
  /* text-align: left;*/
}




/*end desktop style proparitos */
/* end hori1 */

/* start hori2 */

.hori2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 57px;
  width: 19.5%;
  height: 49px;
  /* background-color: coral; */
  align-self: flex-start;
  margin-top: 113px;
  margin-left: 297px;
}

.picandname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.picsmall > img {
  height: 94px;
  width: 90px;
  left: 175px;
  top: 740px;
  border-radius: 10px;
}

.name {
  width: 137px;
  height: 17px;
}
.name > span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.name > div {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #a8a8a8;
}
.optiontobuy {
  width: 281px;
  height: 49px;
  display: flex;
  justify-content: space-around;

  background-color: white;
  position: relative;
}
.optiontobuy > div {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.Buy {
  background: #d3d3d3;
  height: 49px;
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sell,
.Rent {
  height: 49px;
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 952px;
  left: 421px;
  width: 1073px;
  height: 161px;
  /* background-color: green; */
}

.no1,
.no2,
.no3 .no4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-right-style:solid; 

  border: 1px solid;

border-image-source: linear-gradient(180deg, #000000 -164.62%, rgba(157, 155, 155, 0) 289.15%);


}

.no1-1,
.no2-1,
.no3-1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.no1-2,
.no2-2,
.no3-2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
 color: #bab9b9;
}


.bigbox .no4 input {
    width: 180px;
height: 60px;
color: #FFFFFF;

background: #444444;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

}